<h1>{{pageTitle}}</h1> <!--interpolation{{}}-->
<div>
  <img [src] ='imgUrl' alt='img'> <!--property binding[]  com to tem   -->
</div>

<div>
  <button (click)='incrementCount()'>Click</button> <!--Event binding() tem to com -->
  <p>Clicked {{ count }} times</p>
</div>

<div>
  <input #nameRef type='text' [(ngModel)]='name'><!--two-way-binding[()]-->
  <p>Welcome {{ name }}  </p>
</div>

<div>
  <input type='text' [ngModel]='userName' (ngModelChange)='greetHakkim($event)'><!--splitting the two way binding-->
  <p>Welcome {{ userName }}  </p>
</div>

<div>
  <input type='text' [(ngModel)]='customerName '>
    <p>Welcome {{ customerName  }}  </p>
</div>


<h1 style=color:blueviolet >{{todaydate}}</h1>

<!--animation-->
<div>
  <button (click) = "animate()">Click Me</button>
  <div [@myanimation] = "state" class = "rotate">
     <img src = "assets/img.png" width = "100" height = "100">
  </div>
</div>

<!-- <app-new-cmp-fff></app-new-cmp-fff> -->
<br />
<br />
<br />
<a routerLink = "new-cmp-fff">New component</a>
<!-- <app-new-gone></app-new-gone> -->
<br />
<ul *ngFor = "let data of httpdata">

  <li>Name : {{data.name}} <h5> Address: {{data.address.city}}</h5> Email: {{data.email}} </li>
</ul>

<br /><router-outlet></router-outlet>
<a routerLink = "new-gone">New gone</a>

